<p>card-home works!</p>

<!-- <div *ngIf="isLoading$ | async" > hello is loading </div> -->
{{ isLoading$ | async}}

<!-- {{ test | async }} -->
<!-- {{ isLoading$ | async}}
<div *ngIf="isLoading$ | async">
    HELLO
    Loading...
</div>
<div>
    hello world
{{ socials$ | async }}

</div>

<div *ngFor="let social of socials$ | async">
    {{ social }}
</div> -->

<!-- <div>
    <h2>
        adding socials
    </h2>
    <li *ngFor="let social of socialList2">
        <button mat-button (click)="addSocial(social)"> {{social}} </button>
    </li>
</div>



<div>
    <h2>
        remove socials
    </h2>
    <li *ngFor="let social of socialList">
        <button mat-button (click)="removeSocial(social.name)"> {{social.name}} </button>
    </li>
</div>
 -->



<div>
    <button (click)="log()">log button</button>
</div>



<!-- <div *ngIf="socials$ | async">
    <li *ngFor="let social of $any(socials$)" >
        {{ social }}
    </li>
</div> -->